---
layout: default
title: "ツ onCode &middot; /blog"
paginate: 5
paginate_path: /blog/page:num"
---
<div id="posts">
  <div class="post">
  {% for post in paginator.posts %}
    <h2 class="post-header"><a href="{{ post.url }}">{{ post.title }}</a></h2>
    {% if post.date != null %}
      <span class="published_on">
      {{ post.date | date: "%d.%m.%Y в %H:%M" }}
      {% if post.tags != null %}
        {% for tag in post.tags %}
          <a href="/blog/tags/{{tag | downcase}}" class="icon-tag label label-default"> {{tag | downcase}}</a>
        {% endfor %}
      {% endif %}
      </span>
    {% endif %}
    {{ post.excerpt }}
    <div class="post-footer">
      <a href="{{ post.url }}/#comments" class="icon-bubbles"> comments</a>
    </div>
  {% endfor %}
  </div>
</div>

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
  <ul id="paging">
    {% if paginator.previous_page %}
    <li id="newest"><a href="/blog/" title="Go to newest articles">&laquo;&laquo;&laquo;</a></li>
      {% if paginator.previous_page > 1 %}
      <li id="newer"><a href="/blog/page{{ paginator.previous_page }}" title="Go to newer articles">Newer articles</a></li>
      {% else %}
      <li id="newer"><a href="/blog/" title="Go to newer articles">&laquo;</a></li>
      {% endif %}
    {% else %}
    <li id="newest"><a class="disabled" title="Go to newest articles">&laquo;&laquo;&laquo;</a></li>
    <li id="newer"><a class="disabled" title="Go to newer articles">&laquo;</a></li>
    {% endif %}
    {% if paginator.next_page %}
    <li id="oldest"><a href="/blog/page{{ paginator.total_pages }}" title="Go to oldest articles">&raquo;&raquo;&raquo;</a></li>
    <li id="older"><a href="/blog/page{{ paginator.next_page }}" title="Go to older articles">&raquo;</a></li>
    {% else %}
    <li id="oldest"><a class="disabled" title="Go to oldest articles">&raquo;&raquo;&raquo;</a></li>
    <li id="older"><a class="disabled" title="Go to older articles">&raquo;</a></li>
    {% endif %}
  </ul>
{% endif %}
<br />
<br />