<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}{{ page.post_title_label }}</title>

    <meta name="author" content="alexey kolosov" />
    <meta name="publisher" content="alexey kolosov" />
    <meta name="keywords" content="alexey kolosov Ruby Rails PHP JavaScript jQuery SQL Linux VoIP" />
    <meta name="description" content="alexey kolosov - Linux-evangelist. VoIP-guru. SQL-master. Ruby-lord. PHP-dude. JavaScript-noob. Misanthrope-theorist. Cynic-practitioner. Just a good guy. ツ" />
    <link href="http://fonts.googleapis.com/css?family=Play&amp;subset=latin,cyrillic" media="all" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" media="screen, projection, print" />
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection, print" />
    <link rel="stylesheet" href="/css/font.css" type="text/css" media="screen, projection, print" />

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/sticky-footer-navbar.css" rel="stylesheet">
  </head>

  <body>
    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ site.name }}</a>
          </div>
          <div class="collapse navbar-collapse" id="header">
            <ul class="nav navbar-nav">
              <li>
                <a class="core-nav icon-pencil-2" href="/blog/"></a>
              </li>
              <li>
                <a class="core-nav icon-github" href="https://github.com/akolosov" target="_blank"></a>
              </li>
              <li>
                <a class="core-nav icon-twitter" href="https://twitter.com/alexeyKolosov" target="_blank"></a>
              </li>
              <li>
                <a class="core-nav icon-google-plus-2" href="https://plus.google.com/113898252080832719417" target="_blank"></a>
              </li>
              <li>
                <a class="core-nav icon-facebook" href="https://facebook.com/alexey.hunter.kolosov" target="_blank"></a>
              </li>
              <li>
                <a class="core-nav icon-user" href="/"></a>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

      <!-- Begin page content -->
      <div class="container">
        {{ content }}
      </div>

      <div class="navbar navbar-default navbar-fixed-bottom navbar-inverse">
        <div class="container">
          <div class="collapse navbar-collapse" id="footer">
            <ul class="nav navbar-nav">
              <li>
                <a class="core-nav icon-mail" href="mailto:alexey.kolosov@gmail.com"></a> 
              </li>
              <li>
                <a href="skype:alexey.kolosov?call" class="core-nav icon-skype"></a> 
              </li>
              <li>
                <a href="xmpp://alexey.kolosov@jabber.ru" class="core-nav icon-bubbles-2"></a> 
              </li>
              <li>
                <a href="https://launchpad.net/~alexey-kolosov" class="core-nav icon-bug" target="_blank"></a> 
              </li>
              <li>
                <a href="http://instagr.am/satisfucktor" class="core-nav icon-instagram" target="_blank"></a> 
              </li>
              <li>
                <a href="https://vk.com/alexey.kolosov" class="core-nav icon-vk" target="_blank"></a> 
              </li>
            </ul>
          </div>
        </div>
        <div id="yandex-metrika" class="pull-right">
          <!-- Yandex.Metrika informer -->
          <a href="http://metrika.yandex.ru/stat/?id=22536601&amp;from=informer"
          target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/22536601/3_0_FFFFFFFF_EFEFEFFF_0_pageviews"
          style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" /></a>
          <!-- /Yandex.Metrika informer -->

          <!-- Yandex.Metrika counter -->
          <script type="text/javascript">
          (function (d, w, c) {
              (w[c] = w[c] || []).push(function() {
                  try {
                      w.yaCounter22536601 = new Ya.Metrika({id:22536601,
                              webvisor:true,
                              clickmap:true,
                              trackLinks:true,
                              accurateTrackBounce:true});
                  } catch(e) { }
              });

              var n = d.getElementsByTagName("script")[0],
                  s = d.createElement("script"),
                  f = function () { n.parentNode.insertBefore(s, n); };
              s.type = "text/javascript";
              s.async = true;
              s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

              if (w.opera == "[object Opera]") {
                  d.addEventListener("DOMContentLoaded", f, false);
              } else { f(); }
          })(document, window, "yandex_metrika_callbacks");
          </script>
          <noscript><div><img src="//mc.yandex.ru/watch/22536601" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
          <!-- /Yandex.Metrika counter -->
        </div>
      </div>

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
